<header class="navbar p-4 shadow-sm">
    <div class="navbar-content">
        <img src="assets/images/logos/logos=logo-Violeta.svg" alt="Logo violeta" class="navbar-logo">

        <div class="navbar-buttons">

            <!-- Botón secundario: Celeste -->
            <p-button label="Vista previa" styleClass="secondary "></p-button>

            <!-- Botón acento: Violeta -->
            <p-button label="Finalizar" styleClass="accent ml-4 px-6"></p-button>
        </div>
    </div>
</header>

<div class="encuesta-formulario">
  <div class="encuesta-formulario-contenido">
    <input type="text" placeholder="Escribir título" pInputText formControlName="text" class="input-titulo" />
    <p-button label="Listo" icon="pi pi-check" styleClass="neutral btn-listo"></p-button>
  </div>
</div>

<div class="acciones-encuesta">
  <p-button label="+ Añadir pregunta" styleClass="primary text-white font-semibold px-4 py-2 rounded-md"></p-button>
</div>

<div class="boton-eliminar">
  <p-button label="Eliminar" icon="pi pi-trash" styleClass="neutral-blanco-borde-negro"></p-button>
</div>

