<div class="encuesta-container">
    <header class="encuesta-header">
        <img src="assets/images/logos/logos=logo-violeta.svg" alt="Logo violeta" class="logo-violeta">
        <div class="acciones-header">
            <!-- <button class="btn btn-primary" (click)="vista-previa()">Vista previa</button>
            <button class="btn btn-secondary" (click)="finalizar()">Finalizar</button> -->
        </div>
    </header>

    <div class="encuesta-formulario">
        <input type="text" placeholder="Escribir título" class="input-titulo" />
        <button class="btn listo"> Listo</button>
    </div>

    <div class="acciones-encuesta">
        <button class="btn añadir">+ Añadir pregunta</button>
    </div>

    <div class="btn eliminar"> Eliminar</div>
</div>