  <div class="wave-background-top"></div>

<div class="container">
  <img
    src="assets/images/logos/logos=logo-celeste.svg"
    alt="Logo"
    class="logo-cuesti-celeste"
  />
</div>
<section class="welcome">
  <div class="welcome-text">
    <h1>¡Te damos la bienvenida!</h1>
    <h2>Creá una encuesta y compartila con quien quieras<br>
       <strong>sin iniciar sesión.</strong></h2>
    <button routerLink="crearEncuesta" label="Crear encuesta" class="p-button-primario">
      Crear encuesta
    </button>

  </div>
  <div class="welcome-image">
    <img src="assets/images/home/clipboard-welcome.svg" 
    alt="check list"
    class="imagen-home" />
  </div>
</section>

  <div class="wave-background-bottom"></div>
  <p class="copyright">© Cuesti 2025 | Todos los derechos reservados<br>
  Desarrollado en 🇦🇷 para el 🌎</p>
