.wave-background-top {
  position: relative;
  width: 100%;
  height: 240px; /* Ajusta la altura según sea necesario */
  background-image: url('/assets/images/home/ondas-home.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -30px 0 0;
  z-index: -1;
}

.container {
  max-width: 800px;
}

img.logo-cuesti-celeste {
  width: 20%;
  height: 80px;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 1;
}
/* Contenedor principal del section */
.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Estilo del texto de bienvenida */
.welcome-text {
  flex: 1;
  text-align: left;
  padding: 10px 0px;
  margin-left: 60px;
}

.welcome-text h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3.7rem;
  margin: 60px;
}

.welcome-text h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 60px;
  color: #010101;
}

/* Estilo imagen */
.welcome-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-home {
  width: 100%;
  max-width: 500px;
}

/* Estilo del botón */
button.p-button-primario {
  background-color: #010101;
  color: #FFFCFC;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 0.75rem 1.5rem;
  text-transform: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: 60px;
}
button.p-button-primario:hover {
  background-color: #A663CC;
  color: #010101;
}

.wave-background-bottom {
  position: relative;
  width: 100%;
  height: 180px; /* Ajusta la altura según sea necesario */
  background-image: url('/assets/images/home/Vector-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  z-index: -1;
}

p.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  margin: -50px 0 0;
  padding: 0;
  color: #555555;
  font-size: 0.8rem;
}

/* Diseño responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {

  .wave-background-top {
    height: 200px; /* Ajusta la altura según sea necesario */
  }

  img.logo-cuesti-celeste {
    top: 10px;
    left: 30px;
  }

  .welcome {
    flex-direction: column;
    margin-left: 0;
    align-items: center; 
    text-align: center; 
  }

  .welcome h1 {
      font-size: 1.6rem;
      margin: 0;
      margin-left: 0;
      display: inline-block;
  }
  
  .welcome h2 {
    font-size: 0.7rem;
    margin: 5px 0;
    padding: 10px 0px;
    display: inline-block;
    margin-left:0; 
  }

  button.p-button-primario {
    margin: 0 auto; /* Centra el botón */
    font-size: 0.5rem;
    margin-top: 20px;
    margin-left: 0;
  }

  .imagen-home {
    width: 60%; 
  }

  .wave-background-bottom {
    height: 200px; /* Ajusta la altura según sea necesario */
    margin: 0;
    bottom: 0;
   }

   p.copyright {
    font-size: 0.6rem;
    margin: -50px 0 0;
   }
}