@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@400;500;700&display=swap');

/* Reset básico */
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
  color: #010101;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* Estilos bottones */
.p-button.accent {
  background-color: #A663CC !important;
  color: #000000 !important;
  font-weight: bold !important;
  border: none !important;
}

.p-button.accent:hover {
  background-color: #B9FAF8 !important;
  color: #000000 !important;
  font-weight: bold !important;
  border: none !important;
}

.p-button.secondary {
  background-color: #B9FAF8 !important;
  color: #000 !important;
  border: none !important;
}

.p-button.secondary:hover {
  background-color: #d5a2f3 !important;
  color: #000 !important;
  border: none !important;
}

.p-button.primary {
  background-color: #010101 !important;
  color: #ffffff !important;
  border: none !important;
}

.p-button.primary:hover {
  background-color: #A663CC !important;
  color: #ffffff !important;
  border: none !important;
}

.p-button.neutral {
  background-color: #555555 !important;
  color: #ffffff !important;
  border: none !important;
}

.p-button.neutral-blanco-borde-negro {
  background-color: #FFFCFC !important;
  color: #010101 !important;
  border: 1px solid #010101 !important;
}

.p-button.neutral:hover {
  background-color: #010101 !important;
}

.p-button.neutral-blanco-borde-negro:hover {
  background-color: #c5c4c4 !important;
  color: #010101 !important;
  border: none !important;
}
